html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #22262e;
}

#footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 5px;
}

#footer span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.15);
}

#footer a {
    color: rgba(255, 255, 255, 0.15);
    text-decoration: none;
    transition: all 0.15s linear;
}

#footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 3px;
    transition: all 0.15s linear;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

circle.githublive-linez-circle {
    stroke-width: 2;
    transition: all 0.15s linear;
}

circle.githublive-linez-circle:hover {
    stroke-width: 3;
    transition: all 0.15s linear;
}

circle.red {
    fill: #b00038;
    stroke: #ea5b89;
}

circle.green {
    fill: #008f35;
    stroke: #4fcb7d;
}

circle.blue {
    fill: #007777;
    stroke: #46b3b3;
}

circle.yellow {
    fill: #c69000;
    stroke: #ffd564;
}

circle.default {
    fill: #111111;
    stroke: #555555;
}

path.githublive-linez-path {
    fill: none !important;
    stroke-width: 2px !important;
    stroke-linecap: round !important;
}

path.red {
    stroke: #e20048 !important;
}

path.green {
    stroke: #00b945 !important;
}

path.blue {
    stroke: #009999 !important;
}

path.yellow {
    stroke: #ffba00 !important;
}

path.default {
    stroke: #111111 !important;
}
