html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #22262e;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 5px;
}

#footer span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    color: #424a59;
}

#footer a {
    color: #4b5466;
    text-decoration: none;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 3px;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.shade {
    background: rgba(0,0,0,.7);
}

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

:target div.lightbox-target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox-close-target {
    position: fixed;
    top: -100%;
    width: 50px;
    height: 50px;
    right: 0;
    overflow: hidden;
}

:target div.lightbox-close-target {
    top: 0;
}

div.lightbox-content {
    margin: auto;
    padding: 15px 15px 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #1a1c23;
    border-radius: 5px;
    color: #8d9ebf;
}

@media (min-width: 900px) {
    div.lightbox-content {
        height: 75%;
        width: 768px;
    }
}

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: transparent;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 0;
}

a.plus {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: #555f73;
    color: #8d9ebf;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 0;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

a.plus:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: #8d9ebf;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

:target a.plus:before {
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    transform:rotate(-135deg);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

a.plus:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: #8d9ebf;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

:target a.plus:after {
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

circle.githublive-linez-circle {
    stroke-width: 2;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

circle.githublive-linez-circle:hover {
    stroke-width: 3;
}

circle.red {
    fill: #b00038;
    stroke: #ea5b89;
}

circle.green {
    fill: #008f35;
    stroke: #4fcb7d;
}

circle.blue {
    fill: #007777;
    stroke: #46b3b3;
}

circle.yellow {
    fill: #c69000;
    stroke: #ffd564;
}

circle.default {
    fill: #111111;
    stroke: #555555;
}

path.githublive-linez-path {
    fill: none !important;
    stroke-width: 2px !important;
    stroke-linecap: round !important;
}

path.red {
    stroke: #e20048 !important;
}

path.green {
    stroke: #00b945 !important;
}

path.blue {
    stroke: #009999 !important;
}

path.yellow {
    stroke: #ffba00 !important;
}

path.default {
    stroke: #111111 !important;
}

.d3-tip {
    line-height: 150%;
    padding: 12px;
    font-size: 12px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip em {
    color: #999999;
}

.d3-tip span {
    font-weight: bold;
}

.d3-tip span.red {
    color: #b00038;
}

.d3-tip span.green {
    color: #008f35;
}

.d3-tip span.blue {
    color: #007777;
}

.d3-tip span.yellow {
    color: #c69000;
}
